<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Notes Portal</title>
		<link rel="stylesheet" href="./css/signin.css">	
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
    
    <script>
    
    function hashCode(str) {
        return str.split('').reduce((prevHash, currVal) =>
          (((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0);
    }
    function hey(){ 

          var pass = document.getElementById('pass');
          var cpass = document.getElementById('cpass');

          if(pass.value == "")
            pass.setCustomValidity("Enter the new password");
          else if(cpass.value == "")
          {
            pass.setCustomValidity("");
            cpass.setCustomValidity("Enter the new password again");
          }
          else if(pass.value != cpass.value)
          {
            pass.setCustomValidity("");
            cpass.setCustomValidity("");
            cpass.setCustomValidity("Passwords do not match");
          }
          else
          {
            pass.setCustomValidity("");
            cpass.setCustomValidity("");
            document.getElementById("pass").value =hashCode(pass.value);  
            document.getElementById('cpass').value =hashCode(cpass.value);
          }
    }
    </script>
		
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up" style="display: none;"><label for="tab-2" class="tab" style="display: none;">Sign Up</label>
			<div class="login-form">
				<form action="password" method="post" class="form">
					<div class="sign-in-htm">
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" data-type="password" name="password">
                        </div>
                        <div class="group">
							<label for="cpass" class="label">Confirm Password</label>
							<input id="cpass" type="password" class="input" data-type="password" name="rpassword">
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign In" onclick="hey()" id="input_submit1">
						</div>
					</div>
				</form>
		    </div>
	</div>
</div>