<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Notes Portal</title>
		<link rel="stylesheet" href="./css/signin.css">	
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
		
<div class="login-wrap">
	<div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Reset Password</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" style="display :  none;"><label for="tab-2" class="tab" style="display: none;">Verify</label>
		
			<div class="login-form">
				<form action="recover" method="post" class="form">
					<div class="sign-in-htm">
						<div class="group">
                            <h4 style="color: white;">An email has been sent to your email adress with reset password link</h4>    
                        </div>
					</div>
				</form>
		</div>
	</div>
</div>